html{
    height: 100%;
    width:100%;
    margin:0px;
}

body{
    width:100%;
    height:100%;
    margin:0px;
}

#box{
    width:100px;
    height:100px;
    border:solid black;
    background-color: red;
    position:fixed;
    left:100px;
    bottom:600px;
}

#ground{
    background-color: green;
    position:fixed;
    width:100%;
    height:20%;
    bottom:0px;
    left:0px;
}