html{
    height: 100%;
    width:100%;
}

body{
    width:100%;
    height:100%;
}

div{
    width:100px;
    height:100px;
    border:solid black;
    background-color: red;
    position:fixed;
    left:100px;
    top:50px;
}